.row{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
}

h2{
    margin: 1rem ;
    padding: 1rem 0 ;

}

form{
    margin-left: 1rem;
}

form input{
    padding: 0.4rem 1rem;
    margin-bottom: 0.5rem;
    outline: none;
}

form select{
    padding: 0.4rem 1rem; 
    outline: none;
}

.users .item{
    flex: 0 0 12.5%;
    min-width: 12.5rem;
    overflow: hidden;
}

.users .item p{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    border-radius: 0.6rem;
    background-color: #FFC356;
    padding: 1rem 2rem;
    margin: 0.6rem;
    cursor: pointer;
    transform: all 0.5s ease;
}

.users .item p:hover{
    background-color: aliceblue;
    color: #FFC356;
    transform: scale(0.9);
}

.products .col{
    flex: 0 0 calc(100%/6);
    flex-wrap: wrap;
    border-radius: 0.6rem;
    padding: 0.6rem;
    overflow: hidden;
    min-width: 12.5rem;
}

.products .item{
    padding: 1rem;
    border-radius: 0.6rem;
    background-color: aliceblue;
    cursor: pointer;
    overflow: hidden;
}

.products .item__img{
    width: 100%;
    height: 80%;
    position: relative;
}

.products .item__img span{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FFC356;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem 0.5rem;
    border-radius: 0.3rem;
    z-index: 1;
    font-size: 0.8rem;
}

.products .item__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.2);
}

.products .item__content{
    height: 20%;
}

.products .item__content h2{
    font-weight: 500;
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
    margin: 0;
    padding: 0;
}

.products .item__details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products .item__content span{
    font-size: 0.8rem;
}

.products .item__content span:first-child{
    font-size: 1rem;
    color: red;
}

img {
  -webkit-user-drag: none;   /* Chrome, Safari */
  -moz-user-drag: none;      /* Firefox (ít dùng) */
  -o-user-drag: none;        /* Opera (cũ) */
  
  -webkit-user-select: none; /* Safari, iOS */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;         /* Chuẩn */
}

/*Pagination start*/
.pagination{
  display: flex;
}

.paginationButt{
  background-color: #FFC356;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.paginationNumb{
  width: 40px;
  text-align: center;
  font-size: 24px;
}


/*Pagination end*/







/* 
---------------------------------------------
09. preloader
--------------------------------------------- 
*/
.splash {
  background-image: linear-gradient(135deg, #071ac5 0%, #0089a8 100%);
  margin: auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  opacity: 1;
  transition: all 2s ease;
}
.splash__spinner {
  position: absolute;
  width: 0px;
  height: 0px;
  background-color: #fff;
  border-radius: 50%;
}
.splash__spinner:nth-child(1) {
  animation: pulse 1s linear infinite;
}
.splash__spinner:nth-child(2) {
  animation: pulse 1s linear infinite;
  animation-delay: 0.25s;
}
.splash__spinner:nth-child(3) {
  animation: pulse 1s linear infinite;
  animation-delay: 0.5s;
}
.splash__spinner::nth-child(4) {
  animation: pulse 1s linear infinite;
  animation-delay: 0.75s;
}

.splash-hide {
  background-color: transparent;
  opacity: 0;
}

@keyframes pulse {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  5% {
    opacity: 0.9;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}